{# block--archipelago-subtheme-chiloe-objecttoggle.html.twig #}

{% set target_id = 'block-archipelago-subtheme-chiloe-views-block-creative-work-series-children-block-1-2' %}
<div class="object-toggle mb-3" id="toggle-{{ target_id }}">
  <a class="btn btn-secondary" href="#{{ target_id }}">
    Jump to Images
  </a>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      if (!document.getElementById("{{ target_id }}")) {
        document.getElementById("toggle-{{ target_id }}").style.display = "none";
      }
    });
  </script>
</div>
