
<ul id="customTabs" class="nav nav-tabs mb-3" style="display:none;">
  <li class="nav-item">
    <button class="nav-link active tab-btn" data-target="tab-1" type="button">Collection overview</button>
  </li>
  <li class="nav-item">
    <button class="nav-link tab-btn" data-target="tab-2" type="button">Items in Collection</button>
  </li>
</ul>
